.screen{
	padding:0px;
}

/*.backdrop{
	width: 100%;
	position: relative;


}*/
.container{
	width: auto;
	padding:0px;
	margin: 0px;
}

.backdrop{
    background-image: url("../images/preview.png");
    background-position: center;
    background-size: cover;
    max-height: 500px;
    width: 100%;
}

.ha{
    position: relative;
    /*left: 22%;*/
   /* width: 50%;*/
    min-height:500px;
    z-index:4;
    /*background-color: rgba(61, 68, 70, 0.5);
*/
}
.banner{
	text-align: center;
	font-size: 50px;
	font-family: railway_thin;
	position: absolute;
	top:2%;
	left: 26%;
	color: black;
}
@font-face{
font-family: railway_thin;
src:url("../fonts/Macondo/Macondo-Regular.ttf");
}
#sub_button{
	position:absolute;
	top:40%;
	left:40%;
	padding:5px;
	font-size: 20px;
	color:rgb(249, 244, 254);
	background-color:#517157;
   font-family: but;
   border-radius: 10px;
   z-index: 5;
}
#sub_button:hover{
 background-color:black;
}
@font-face{
font-family: but;
src:url("../fonts/Raleway/Raleway-Light.ttf");
}
/*.authen{
	background-image: url("../images/back.jpeg");
	background-position: contain;
	height: 100%;
	width: auto;
}*/

.overlay{
	background-color: #28a745;
	height: 20%;
	color: white;
	font-family: but;
	padding: 50px;
	font-size: 20px;
	text-align: center;


}
/*.align{
	background-color: #87d887;
	height: 2%;
}*/
.body1{
	padding: 5%;
}
/*.container.body1 {
    background-image: url("../images/preview.png");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}*/
.align {
    height: 30%;
    background-color: #c8f5c8;
}
/*.align1{
    height: 20%;
    background-color:#7dd87d;
}*/

.col-sm-10.col-sm-offset-1{
	background-color: #f7fbf7;
	box-shadow: 2px 2px 2px 2px #888888;
	font-size: 20px;
	color: black;
	font-family: but;
	padding: 5%;
	position: relative;

}


.modal-box {
	  display: none;
	  position: absolute;
	  z-index: 1000;
	  width: 98%;
	  background: white;
	  border-bottom: 1px solid #aaa;
	  border-radius: 4px;
	  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	  border: 1px solid rgba(0, 0, 0, 0.1);
	  background-clip: padding-box;

	}


	.modal-box header,

	.modal-box .modal-header {

	  padding: 1.25em 1.5em;
	  border-bottom: 1px solid #ddd;

	}


	.modal-box header h3,

	.modal-box header h4,

	.modal-box .modal-header h3,

	.modal-box .modal-header h4 { margin: 0; }

	 

	.modal-box .modal-body { padding: 2em 1.5em; }

	 

	.modal-box footer,

	.modal-box .modal-footer {

	  padding: 1em;
	  border-top: 1px solid #ddd;
	  background: rgba(0, 0, 0, 0.02);
	  text-align: right;

	}

	 

	.modal-overlay {

	  opacity: 0;
	  filter: alpha(opacity=0);
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 900;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0.3) !important;

	}

	 

	a.close {

	  line-height: 1;
	  font-size: 1.5em;
	  position: absolute;
	  top: 5%;
      right: 2%;
	  text-decoration: none;
	  color: #bbb;

	}

	 

	a.close:hover {

	  color: #222;
	  -webkit-transition: color 1s ease;
      -moz-transition: color 1s ease;
	  transition: color 1s ease;

	}
.abc {
    left: 0px;
}
.list{
	/*border-bottom:1px solid #dedede;*/
	line-height: 70px;
}
#msgfrm {
    line-height: 35px;
}
/*.col-md-12 {
    background-color: #eaeaea;
}*/
form.main {
    position: absolute;
    top: 1%;
    right: 2%;
}
form.nex {
    position: absolute;
    top: 1%;
    right: 20%;
}

.h11 {
	text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    padding: 5%;
}

.logout{
	background-color: transparent;
	text-align: right;
}
/*input.custom-checkbox +label::before{

	content:""; display: inline-block;
	width:20px; 
	height:20px; 
	background: url('../images/plus.png') #fff;
 	background-size: cover;}


	 
	input.custom-checkbox+label::after{
    background: url('../images/add1.png') #fff;
    background-size: cover; 
	}*/


/*li {
  display: inline-block;
}*/

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  /*border: 1px solid #fff;
  padding: 10px;*/
  /*display: block;*/
  position: relative;
  /*margin: 10px;*/
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: "";
  /*background-image: url("../images/add1.png");
  background-size: cover;*/
 /* display: block;*/
 /* border-radius: 50%;*/
  /*border: 1px solid grey;*/
  position: absolute;
  /*top: -10px;*/
  left: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 0px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 20px;
  width: 20px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: url("../images/tick.png");
  height: 20px;
  width: 20px;
 /* background-image: ;*/
  transform: scale(1);
  
}

:checked + label img {
  transform: scale(0.9);
  /*box-shadow: 0 0 5px #333;*/
  z-index: -1;
  opacity: 0;
}


input[type="submit"] {
    /* padding: 5%; */
    color: black;
    padding-left: 5%;
    padding-right: 5%;
	
	
}
@media only screen and (max-width: 1200px){
	.banner{
		left: 25%;
	}
	#sub_button{
		font-size: 16px;
		top: 39%;
		left: 42%;
	}
}
@media only screen and (max-width: 1000px){
	.banner{
		left: 18%;
	}
	#sub_button{
		font-size: 15px;
	}
	.backdrop{
		max-height: 450px;
	}
	.ha{
		min-height: 450px;
	}

	
}
@media only screen and (max-width: 900px){
	
	#sub_button{
		font-size: 15px;
	}
	form.nex{
		right: 31%;
		top: 6px;
	}
	form.main{
		top: 6px;
	}
	
}
@media only screen and (max-width: 768px){
	.banner{
		height: auto;
	}
	.banner{
		font-size: 35px;
		left: 21%;
	}
	#sub_button{
		font-size: 12px;
	}
	.list{
		line-height: 28px;
	}
}

@media only screen and (max-width: 600px){
	.banner{
		font-size: 28px;
		left: 18%;
	}
	
	#sub_button{
		font-size: 12px;
		left: 40%;
	}
	.overlay{
		padding: 12px;
		font-size: 17px;
	}
	.col-sm-10.col-sm-offset-1{
		font-size: 18px;
	}
	form.nex{
		right: 30%;
		font-size: 15px;
	}
	form.main{
		font-size: 15px;
	}
	
	.list{
		font-size: 17px;
	}
}
@media only screen and (max-width: 500px){
	.banner{
		font-size: 20px;
		left: 21%;
	}
	
	#sub_button{
		font-size: 12px;
		left: 37%;
	}
	.h11{
		font-size: 20px;
	}
	form.nex {
    right: 41%;
    top: 6px;
	}
	form.main{
		top: 6px;
	}
	
	/*.list{
		font-size: 15px;
	}*/

}
@media only screen and (max-width: 350px){
	.banner{
		font-size: 18px;
		left: 19%;
	}
	
	#sub_button{
		font-size: 10px;
		top: 36%
	}
	
	
	
}